<table class="table table-striped">
	<tr>
		<th>Item Name</th>
		<th>Net Cost</th>
		<th>Unit Cost</th>
		<th>Source</th>
	</tr>

	{% if items|length == 0 %}
		<tr><td>No item data available.</td></tr>
	{% else %}
		{% for item in items %}
			<tr>
				<td>{{ items.payer_id }}</td> <!-- Cost / payer_id -->
				<td>{{ items.payee_id }}</td> <!-- Cost / payee_id -->
				<td>${{ items.amount }}</td> <!-- Cost / amount -->
				<td class='status'>{{ items.status }}</td>
			</tr>
		{% endfor %}
	{% endif %}
  
</table>